@font-face {
    font-family: 'font-game';
    src: url(./font/Pony.ttf);
}
.game{
    background-image: url(../../public/GameImg/bgGame.png);
    height: 100vh;
    /* background-attachment: fixed; */
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    /* position: fixed; */
    font-family: 'font-game';
}
.title-game{
    font-size: 70px;
}
.btnGame{
    width: 150px;
    height: 150px;
    font-size: 50px;
    border: none;
    border: 5px solid rgb(2, 155, 2);
    border-radius: 10px;
}
.btnGame:focus{
    outline: none;
}
.btnLeft{
    background-color: white;
    color: black;
    /* margin-left: 100px; */
}
.btnLeft:hover{
    background-color: antiquewhite;
}
.btnRight:hover{
    background-color: rgba(0, 0, 0, 0.75);
}
.btnRight{
    background-color: black;
    color: white;
    /* margin-right: 100px; */
}
.btnPlayGame{
    font-size: 30px;
    border-radius: 10px;
}
.xuc_xac{
    width: 70px;
}
.ban_chon{
    font-size: 50px;
}
.result{
    background-color: rgba(255, 255, 255, 0.37);
}
@media screen and (max-width: 1366px) {
    .xuc_xac{
        width: 50px;
        padding: 0;
    }
    .btnGame{
        width: 100px;
        height: 100px;
        font-size: 30px;
    }
    .ban_chon{
        font-size: 40px;
    }
}
@media screen and (max-width: 1200px) {
    .xuc_xac{
        width: 42px;
        padding: 0;
    }
    .btnGame{
        width: 100px;
    height: 100px;
    font-size: 30px;
    }
    .ban_chon{
        font-size: 35px;
    }
}
@media screen and (max-width: 768px) {
    .btnGame{
        width: 100px;
    height: 100px;
    font-size: 30px;
    }
    .xuc_xac{
        width: 30px;
    }
    .ban_chon{
        font-size: 25px;
    }
    .title-game{
        font-size: 30px;
    }
    .btnPlayGame{
        font-size: 25px;
    }
}
@media screen and (max-width: 350px) {
    .btnGame{
        width: 80px;
    height: 80px;
    font-size: 20px;
    }
    .xuc_xac{
        width: 30px;
    }
    .ban_chon{
        font-size: 25px;
    }
    .title-game{
        font-size: 30px;
    }
    .btnPlayGame{
        font-size: 25px;
    }
    .game{
        background-size: cover;
    }
}
